// Place all the styles related to the brokers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clear {
  clear: both;
}

#broker.two_column {
  #toggles {
    width: 90%;
    margin-left: 30px;
    display: inline-block;
    a {
      color: blue;
      &.active {
        color: red;
      }
    }
  }
  ul {
    li {
      margin-bottom: 10px;
    }
    .label {
      width: 32%;
      text-align: left;
    }
    .data {
      width: 32%;
      text-align: left;
      &.full {
        width: 64%;
      }
    }
  }
}

#broker-content {
  color: white;
  .filters {
    li {
      float: left;
      margin-right: 10px;
    }
  }
}
#broker-list {
  color: white;
  ul.planet {
    width: 49%;
    float: left;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    th {
      text-align: center;
    } td {
      text-align: right;
    }
    td,th {
      border: 1px solid white;
      padding: 5px;
      &.left {
        text-align: left;
      }
      &.quantity {
        width: 80px;
        select {
          width: 100%;
        }
        input {
          width: 95%;
        }
      }
      &.total {
        width: 100px;
      }
    }
  }
}